*{
margin: 0px;
padding: 0px;
}
body{
    background-color: blueviolet;
/*background-image: url("fundo/forest.jpg");*/
/*background-position: 50% 70%;*/
color: white;
font-family: 'Times New Roman', Times, serif;

}
input{

    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16px;
    padding: 10px 20px;
   /* background-color: rgba(150, 194, 30, 0.1);*/
}
div#corpo-form{
    /*background-color: red; */
    width:400px;
    margin: 150px auto 0px auto; /*Centralizar a tela de login*/ 
}



     div#corpo-form h1{
    text-align: center;
    padding: 20px;

     }
     a{
color: white;
text-decoration: none;
text-align: center;
display: block;
     }

     a:hover{
         text-decoration: underline;


     }